/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://creativecommons.org/licenses/MIT/	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0 none;	
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;
	font-family:inherit;
	font-style:inherit;
	font-weight:inherit;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	vertical-align:baseline;
}
:focus {
	outline: 0;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 2.8em;
}

.huge, h1 {
	font-size: 2.2em;
}

.large, h2 {
	font-size: 1.9em;
}

.bigger, h3 {
	font-size: 1.6em;
}

.big, h4 {
	font-size: 2em;
}

body {
	font-family: sans-serif;
	font-size: 0.8em;
}

.small, small {
	font-size: 0.5em;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

#siteWrap {
	width: 100%;
	margin: 0 auto;
	background: url('../../img/admin/background-wave.jpg');
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	#siteWrap {
		width: 100%;
	}
}


/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 481px) {

	#header {
		display: none;
	}
	#globalNav {
		display: none;
	}
	.searchfield {
		display: none;
	}
	#siteWrap {
		width: 100%;
		min-width: 320px;
	}
	#tabs h1 {
		top: 0 !important;
	}
	#tabs {
		clear: both;
	}
	#tabs ul#leadTab {
		clear: both;
	}
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	#siteWrap {
		width: 100%;
		min-width: 480px;
	}
	.searchfield {
		display: none;
	}
	
}



/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
		
}


a {
	text-decoration: none;
}
a:visited {
	color: #06F;
}
a:hover {
	color:#69C;
}

/* Tables Default */

table {
	border-spacing: 0;
	clear: both;
	color: #333;
	margin: 0.5em;
	width: 98%;
}
th {
	border-bottom:1px solid #bbb;
	text-transform: uppercase;
	padding: 2px 4px;
	color: #CCC;
	font-size: 0.7em;
	text-align: left;
}
th.actions {
	position: relative !important;
}
th a {
	display: block;
	text-decoration: none;
	color: #CCC;
}
th a:hover {
	color: #333;
	text-decoration: none;
}

td {
	border-bottom: 1px solid #ccc;
	padding: 0.4em 1em 0.4em 0.4em;
	vertical-align: top;
}
tr.altrow td {
	background: #f0f0f0;
}
td.actions {
	white-space: nowrap;
	position: relative !important;
}
td.actions a {
	margin: 0px 0.7em;
	padding: 0.1em 0.8em !important;
}







/* Table-like Divs */
.indexContainer {
	display: table;
	width: 100%;
	padding: 0.5em 0;
}
.indexRow{
	float: left;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCC;
	padding: 0.5em 0;
}
.indexCell{
	float: left;
	position: relative;
}
.indexRow .indexCell ul li{
	float:left;
	padding: 0 30px 0 0;
}






/* Forms */
form {
	clear: both;
}
.hide form {
	background: #E6EDF9;
	margin: 0.5em;
}
fieldset {
	padding: 0;
	margin: 0 0 20px 0;
}
fieldset legend {
	border-bottom: 1px solid #CCC;
	width: 100%;
}
fieldset legend.toggleClick:hover {
	background: #eaeaea;
}
fieldset fieldset {
	margin: 0 0 20px 0;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-weight: normal;
}
fieldset fieldset div {
	margin: 0 20px;
}
form div {
	padding: 0.2em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
	float: left;
	padding: 0.4em;
}
form div.richtext {
	display: block;
	clear: both;
	float: none;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
}
label {
	display: block;
	padding-right: 20px;
	white-space: nowrap;
	overflow: hidden;
}
label a {
	color: #333;
}
button {
	background: none;
	border: none;
}
input, textarea, select {
	padding: 2px;
	background: #f5f5f5;
	border: 1px solid #AAA;
	-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0, 0.05);
		-moz-box-shadow: inset 0 0 2px rgba(0,0,0, 0.05);
		box-shadow: inset 0 0 2px rgba(0,0,0, 0.05);
}
input:focus, select:focus, textarea:focus {
	background: #FFF;
	-moz-box-shadow: none;
}
input[type="text"] {
	clear: both;
}
textarea {
	clear: both;
}
select {
	clear: both;
	vertical-align: text-bottom;
	padding: 1px;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	/*padding: 0 3px;*/
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 0px;
	width: auto;
}
.checkbox label {
	width: auto;
}
.checkbox label:hover {
	background: #D7E3EA;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
    border: 1px solid #03C;
	padding: 0.4em 1.2em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	font-weight: bold;
	color: #FFF;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#2CB7F8), to(#1191F6));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #2CB7F8, #1191F6);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2CB7F8, endColorstr=#1191F6);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2CB7F8, endColorstr=#1191F6)";
	-webkit-box-shadow: 0 0 10px #777;
	-moz-box-shadow: 0 0 10px #777;
	box-shadow: 0 0 10px #777;
}
input[type=submit]:active {
	color: #666;
    border: 1px solid #093;
	-webkit-box-shadow: 0 0 1em #777;
	-moz-box-shadow: 0 0 1em #777;
	box-shadow: 0 0 1em #777;
}
input[type=submit]:hover {
	background: #EBFBE2;
	color: #666;
    border: 1px solid #093;
	-webkit-box-shadow: 0 0 1em #090;
	-moz-box-shadow: 0 0 1em #090;
	box-shadow: 0 0 1em #090;
}



/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
	clear: both;
	width: 100%;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}





/* Header Area (including navigation) */


/* Header Wrap */ 
#header {
	float: left;
	width: 100%;
	padding: 0.8em 0;
}


/* 
Primary navigation
*/
#globalNav {
}
#globalNav ul {
	float: left;
	position: relative;
}
#globalNav li {
	float: left;
	line-height: 1.2em;
}
#globalNav li a {
	color: #FFF;
	padding: 0 0.7em;
	float: left;
	text-shadow: 0 1px 0 #000;
}
#globalNav li:hover a {
	border-top: 1px solid #FFF;
}
/*logo*/
#globalNav li:first-child a {
	display: block;
	background: url('../../img/admin/admin_sprite.png') no-repeat -527px -199px;
	width: 45px;
	height: 24px;
	padding: 0;
	border: none;
}
#globalNav li:first-child a:hover {
	background: url('../../img/admin/admin_sprite.png') no-repeat -576px -201px;
}
#globalNav li .sub {
	position: absolute;
	z-index: 9999;
	top: 1em;
	display: none;
}
#globalNav li:hover .sub {
	display: block;
}
#globalNav li .sub .menu {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #648EDD;
	-webkit-box-shadow: 0 0 10px #777;
	-moz-box-shadow: 0 0 10px #777;
	box-shadow: 0 0 10px #777;
	background: #fff;
	overflow: hidden;
}
#globalNav li .sub .menu ul {
	display: block;
	float: left;
	margin: 0.8em;
}
#globalNav li .sub .menu ul li {
	background: none;
	float: none;
}
#globalNav li .sub .menu ul li.title, #globalNav li .sub .menu ul li.title a {
	font-size: 1.5em;
	color: #969696;
	text-shadow: 0 1px 0 #fff;
	margin: 0 0 0.5em 0;
}
#globalNav li .sub .menu ul li.separator {
	padding: 0 0 5% 0;
	margin: 0 0 5% 0;
	border-bottom: 1px solid #e7e7e7;
}
#globalNav li .sub .menu a {
	background: none;
	float: none;
	color: #648EDD;
	text-shadow: none;
	padding: 0;
	margin: 0;
	border: none;
	font-size: 0.9em;
}
#globalNav li .sub .menu ul li a:first-child {
	width: auto;
	height: auto;
}
#globalNav li .sub .menu ul li a:hover {
	background: none;
	padding: 0;
}
#globalNav li.endColumn .sub {
	right: 1em;
}
#globalNav li:hover .pointer {
	display: block;
	-webkit-animation-name: fadein;
 -webkit-animation-duration: .3s;
	-webkit-animation-iteration-count: once;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: ease-out;
}
#globalNav li {
	list-style: none;
}
#globalNav li .sub .menu .other {
	margin: 0;
	padding: 1em 0 0.5em ;
	clear: both;
	text-align: right;
}
#globalNav li .sub .menu .other a {
	text-shadow: none;
	float: none;
	font-weight: normal;
	font-size: 0.9em;
	height: auto;
	margin: 0 0 0.3em 0;
	padding: 0 1em 0 0;
	border: none;
}
#globalNav li .sub .menu .other a:hover {
	background: none;
}





/* Search Form */
.searchfield {
	width: 165px;
	float: right;
	margin: -0.8em 1em 0 0;margin: -0.8em 1em 0 0;
}
.searchfield input {
	padding-left: 20px;
	background: #fff url('../../img/admin/admin_sprite.png') no-repeat -590px -151px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #648EDD;
	-webkit-box-shadow: 0 0 10px #777;
	-moz-box-shadow: 0 0 10px #777;
	box-shadow: 0 0 10px #777;
	width: 140px;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	outline: none;
}


/* End Header Area */








/* Content Css */ 


/* Tabs */ 
#tabs {
	float: left;
	position: relative;
	padding: 0;
	border: none;
	width: 100%;
}
#tabs h1 {
	float:left;
	font-weight: bold;
	font-size: 1em;
	margin: 0 0 0 1em;
	position: relative;
	top: 0.6em;
	color: #FFF;
}
#tabs h1 a {
	color: #FFF;
}
#tabs img.shadow {
	position:absolute;
	top:1.9em;
	left:0;
}
#tabs ul#leadTab {
	background: transparent;
	border: none;
	border-radius: none;
	padding: 0.3em 0 0 0;
}
#tabs ul#leadTab li {
	top: 0;
}
#tabs ul#leadTab li:first-child {
	margin: 0 0 0 1em;
}




/* Start Content CSS */

#content {
	clear: both;
	background: #fff;
	padding: 0.5em 1em ;
	overflow: auto;
}
#content .index .recordData h3 {
	float: left;
	margin: 0 1em -0.2em 0;
}
#content .recordData .drop-holder {
	float: left;
	margin: 0 1em 0 0.5em;
}
#content .recordData .image {
	float: left;
}
#content .viewHeading {
    background: #EBFBE2;
	padding: 0.3em;
    font-weight: bold;
	font-size: 1.2em;
	text-shadow: 0 1px 0 #fff;
	
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #777777;
    -moz-box-shadow: 1px 1px 2px #777777;
    -webkit-box-shadow: 1px 1px 2px #777777;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#777777');
}
#content .viewHeading:hover {
	background: #E6EDF9;
}
#content .metaData {
    background: #EBFBE2;
	margin: 0.15em 0 0.5em 0;
	padding: 0.3em;
	float: left;    
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #777777;
    -moz-box-shadow: 1px 1px 2px #777777;
    -webkit-box-shadow: 1px 1px 2px #777777;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#777777');
}
#content .index .metaData { 
    background: none;  
    -moz-border-radius: none;
    border-radius: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    filter: none;
}
#content .metaData ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#content .metaData li {
	margin: 0 1em 0 0;
	list-style: none;
	float: left;
}
#content .metaDataLabel, #content .metaDataLabel a {
    /*color: #06C;*/
    color: #999;
}
#content .metaDataDetail {
    font-weight: bold;
}
#content .metaDataPriorityDetail {
	padding: 0;
	float: right !important;
	margin: 0 !important;
}
#content .recordData {
	clear: both;
	margin: 0 0 0.5em 0;
}
#content .image {
	min-width: 16px;
	min-height: 16px;
	margin: 0 0.5em 0.5em 0;
}
#content .index .image img {
	float: left;
	max-width: 3.2em;
	max-height: 3.2em;
}
#content .view .metaData {
	float: none;
	overflow: auto;
}
#content .viewRow {
	clear: both;
	position: relative;
	margin: 0.3em 0;
}
#content .recordData .image img {
	border: 1px solid #999;
}
#content .viewRow ul.actions {
	position: absolute;
	top: 0.2em;
	right: 0.6em;
}
#content .viewRow ul.actions li {
	list-style: none;
	float: left;
}
#content .actions a, #content .action a {
	padding: 0.1em 0.5em;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px;
	color: #666;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#E3E3E3));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #F9F9F9, #E3E3E3);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#E3E3E3);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#E3E3E3)";
    border: 1px solid #ccc;
}
#content .datalist li {
	list-style: none;
	float: left;
	margin: 0 2em 0 0;
}
#content .datalist li .action a {
    visibility: hidden;
}
#content .datalist li:hover .action a {
    visibility: visible;
}
.contentSection {
	position: relative;
}

/* helper text */
#helperText {
	display: none;
	position: relative;
	border: 2px solid #090;
    background: #EBFBE2;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 1em;
	padding: 1em;
}
#helperText #helpClose {
	position: absolute;
	top: 0.2em;
	right: 0.5em;
}
#helperText a {
	display: block;
	font-size: 0.7em;
}


/* extra navigation tabs */

#navigation {
	margin: 0;
	overflow: auto;
}



/* Side bar */
#sideBar {
	width:178px;
	height:480px;
	padding:21px 20px 0px 30px;
	float:right;
	position:relative;
	z-index:900;
	display:inline;
	margin: 0;
	background:top left no-repeat url('../../img/admin/compare_bubble_alert.png');
	display: none;
}
#sideBar #sideBarArrow {
	position:absolute;
	float:left;
	left:0px;
	top:208px;
}
#sideBar a.close:link, #sideBar a.close:visited {
	position:absolute;
	display:block;
	width:22px;
	height:22px;
	margin:-21px 0px 0px 176px;
	opacity:0.7;
}
#sideBar ul {
	list-style:none;
	margin-bottom:14px;
}
#sideBar ul li {
	padding:0px 0px 5px 0px;
}









/* Content area drop downs */
.drop-holder.hover .drop, .drop-holder:hover .drop, div.actions:hover ul {
	display:block;
}
.drop-holder {
	float: left;
	position: absolute;
	bottom: 0;
}
.drop, div.actions ul {
	position: absolute;
	top: 0.7em;
	width:10em;
	padding:0;
	z-index:300;
	display: none;
	background: #fff;
	border: 1px solid #999;
	font-weight: bold;
	float: left;
}
.pageDrop, div.actions ul {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}
.pageDrop .drop {
	right: 0;
}
.title .drop {
	top:1em;
	left:auto;
	right:16px;
	text-align:right;
	background:none repeat scroll 0 0 #FFFFFF;
}
.drop li, div.actions ul li {
	width:100%;
	overflow:hidden;
	vertical-align:middle;
	font-weight: bold;
}
.info-block .title .drop a, .drop a, .info-block .title .drop a:visited, .drop a:visited, div.actions ul li a {
	display:block;
	padding: 0 0 0 0.5em;
	height:1%;
	background:none !important;
	color:#000;
	font-weight: normal;
	text-decoration: none;
	color: #000;
	/* For Internet Explorer 5.5 - 7 */
	filter: none;
	/* For Internet Explorer 8 */
	-ms-filter: none;
    border: none !important;
}
.info-block .title .drop a, .info-block .title .drop a:visited, div.actions ul li a {
	padding:2px 12px 2px 0;
	/*font-size: 12px;*/
	text-decoration: none;
}
.info-block .title .drop a:hover, .drop a:hover, div.actions ul li a:hover {
	background:#D7E4FF !important;
	text-decoration:none;
}


div.actions {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background: url('../../img/admin/btn-down.png') no-repeat;
}
div.actions h3 {
	display: none;
}






/* Footer Area */

/* Footer Wrap */ 
#awesomeFooter, .awesomeFooter {
	line-height: 21px;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	position: relative;
	clear: both;
}
#awesomeFooter #footer,  .awesomeFooter #footer {
	margin: 0 auto;
	position: relative;
}
/* Footer Area */
#footer {
	display: block;
	height: 3.5em;
	background: #0C71F5 url('../../img/admin/background-wave.jpg'); 
}
#footer .footerHeading {
	display: block;
	font-weight: normal;
	color: #ffffff;
}
#footer .footerHeading a {
	color: #ffffff;
}
#footer .footerHeading ul {
	margin: 0;
}
#footer .footerHeading ul li {
	float: left;
	list-style: none;
	padding: 0 0 0 2em;
	margin: 0;
	line-height: 3.5em;
}
#footer .footerHeading ul li .descript {
	display: none;
}
#footer .footerHeading ul li img {
	max-width: 2em;
	max-height: 2em;
	margin: 0.75em -1em 0 0;
}
#footerMenu {
	display: block;
	background-color: #ffffff;
	padding-bottom: 40px;
}
#footerMenu ul {
	margin: 0;
	padding: 0;
	/*font-size: 12px;*/
	padding-top: 40px;
}
#footerMenu ul.noHeading {
	padding-top: 75px;
}
#footerMenu ul li {
	list-style-type: none;
	padding: 0;
	margin-bottom: 6px;
	line-height: 21px;
}
#footerMenu ul li a {
	color: #648EDD;
}
#footerMenu ul li a:hover {
}
#footerMenu ul li.heading {
	color: #000000;
	display: block;
	min-height: 30px;
	line-height: 30px;
	margin-bottom: 5px;
	/*font-size: 14px;*/
	color: #648EDD;
	font-weight: bold;
}
div#bottomNavigation {
	min-height: 71px;
	line-height: 71px;
	background: #f6f6f6 url('../../img/admin/admin_sprite.png') repeat-x 0 -234px;
	/*font-size: 12px;*/
	overflow: visible;
	font-weight: bold;
}
div#bottomNavigation a {
	color: #648EDD;
	padding: 0 4px;
	font-weight: normal;
}
div#footerNavigation select {
	margin-right: 20px;
}
div#bottomNavigation div#footerNavigation {
	float: left;
}
* html div#bottomNavigation div#footerNavigation {
	padding-top: 22px;
}
div#bottomNavigation div#legalLinks {
	float: right;
	white-space: nowrap;
}
div#bottomNavigation div#legalLinks span {
	font-weight: normal;
}
/* Grid containers */
.gridContainer {
    width: 100%;
}
/* Grid rows */
.gridRow {
    overflow: hidden; /* float fix */
    padding: 0 10px 0 10px;
    margin: 0 auto;
}
/* Grid columns part of bottom navigation */
.gridCol1, .gridCol2, .gridCol3, .gridCol4, .gridCol5, .gridCol6, .gridCol7, .gridCol8, .gridCol9, .gridCol10, .gridCol11, .gridCol12 {
    float: left;
    display: inline;
    margin: 0 10px;
    min-height: 1px;
}
.gridCol2 {
    width: 140px;
}
.gridCol12 {
}

#fontSize1 {
	font-size: 0.8em;
	cursor: pointer;
}
#fontSize2 {
	font-size: 1.5em;
	cursor: pointer;
}
#fontSize3 {
	font-size: 2.2em;
	cursor: pointer;
}