
/* ADDED ON FOR ZUHA */

.message {
	background: #FCEFE4;
	border: 2px solid #F90;
	width: 77%;
	padding: 10px;
	margin: 0 auto 15px auto;
	color: #C60;
	font-weight: bold;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}


















.action a {
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	padding: .2em .4em;
	border: 1px solid #BBBBBB;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-size: 11px;
	color: #000;
	text-decoration: none;
}
.action a:hover {
	border: 1px solid #939393;
	text-decoration: none;
}
.data {
	clear: both;
}
.datalist {
	display: block; 
	clear: both;
	margin: 0;
	padding: 0;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;filter: 
	list-style: none;
}
.datalist li {
	margin: 0 0 .3em 0;
	padding: .2em .3em;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;filter: 
	border: 1px solid #ddd;
	overflow: auto;
} 
.datalist li .action a {
	visibility: hidden;
}
.datalist li:hover .action a {
	visibility: visible;
}
.datalist ul {	
	float: left;
	clear: both;
	overflow: auto;
	display: block;
	margin: 1em 0 0 1em;
	padding: 0;
}
.datalist ul li, .detail {
	margin: 0 0 .3em 0;
	padding: .2em .3em;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;filter: 
	border: 3px solid #ddd;
	background: #fff;
} 
.details ul {
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	overflow: auto;
	margin: 8px 0;
	border: 1px solid #BBBBBB;
}
.details li {
	display: inline;
	float: left;
	border: none;
	border-right: 1px solid #666;
	padding: .2em 1em;
	margin: 0 .5em 0 0;
}
.details li:last-child {
	border: none;
}
.details li span {
	display: block;
	float: left;
	clear: left;
	font-size: 1em;
	font-weight: bold;
}
.details li .label, .details li .label a {
	font-size: 10px;
	color: #999;
	font-weight: normal;
}

/* auto completer */

.auto_complete    {
     position         :absolute;
     width            :250px;
     background-color :white;
     border           :1px solid #888;
     margin           :0px;
     padding          :0px;
} 
.auto_complete ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.auto_complete li.selected    { 
	background-color: #ffb; 
}
/*inline jquery editing */
.edit:hover {
	background: #FF9;
}
.edit form {
	display: inline;
}
.edit form input {
	min-width: 175px;
}
.edit form textarea {
	min-width: 400px;
	min-height: 250px;
}
.toggleClick {
	text-decoration: none;
	cursor: pointer;
}
.toggleClick:hover {
	background: #EAEAEA;
}
.hide {
	display: none;
	overflow: auto;
	clear: both;
}
.hide form {
	float: left;
	display: block;
	background: #EAEAEA;
}
.hide .submit {
	float: left;
	clear: left;
	width: auto;
}

/* Project */
.branch-project-issue-name, .child-project-issue-name {
	font-weight: bold;
}
.child-issue {
	margin: 4px 0 0 20px;
}

/* Priorities */
.mypriorities table tr td, .mypriorities table {
	border: none;
}
.mypriorities table tbody tr.contact {
	background: #FF9; 
}
.mypriorities table tbody tr.task {
	background: #D7EDFF;
}
.mypriorities table tbody tr.project {
	background: #DFFFD7;
}
.mypriorities table tbody tr td {
	background: none;
	text-align: left;
}
.mypriorities table thead th {
	text-align: left;
}
/* Contact Opportunities */
.opportunity-name {
	font-weight: bold;
}