@charset "utf-8";
/* CSS Document */

/* ADDED FROM CODE MY CONCEPT / ALWIN DESIGN */

/* info-block */
.info-block{width:100%;}
.info-block .title{
	/*background:#d2d2d2 url('../../img/admin/bg-title.gif') repeat-x;*/
	width:100%;
	float: left;
}
.info-block .title:after{
	clear:both;
	content:"";
	display:block;
}
.info-block .title strong{
	float:left;
	color:#535353;
	font-size:11px;
	line-height:14px;
	padding:8px 31px 8px 12px;
	background:url('../../img/admin/sep03.gif') no-repeat 100% 60%;
}
.info-block .title a,
.info-block .title span{color:#007eff;}
.info-block .title a{
	padding:0 11px 0 0;
	background:url('../../img/admin/bullet01.gif') no-repeat 100% 50%;
}
.info-block .title .drop-holder{float:right;}
.info-block .title .drop-holder strong{
	background:none;
	padding-right:21px;
}
.drop-holder.hover,
.drop-holder:hover{position:relative;}
.drop-holder.hover .drop,
.drop-holder:hover .drop{display:block;}
/* drop-down */
.drop{
	position:absolute;
	width:152px;
	top:15px;
	left:0;
	padding:0;
	z-index:99;
	display:none;
	background: #fff;
	border: 1px solid #999;
}
.info-block .title .drop{
	top:24px;
	left:auto;
	right:16px;
	text-align:right;
	background:none repeat scroll 0 0 #FFFFFF;
}
.drop li{
	width:100%;
	overflow:hidden;
	font-size:17px;
	line-height:21px;
	vertical-align:middle;
}
.info-block .title .drop a, .drop a, .info-block .title .drop a:visited, .drop a:visited {
	display:block;
	padding:2px 0 2px 12px;
	height:1%;
	background:none;
	color:#000;
	font-size: 12px;
	text-decoration: none;
	color: #000;
}
.info-block .title .drop a, .info-block .title .drop a:visited{
	padding:2px 12px 2px 0;
	font-size: 12px;
	text-decoration: none;
}
.info-block .title .drop a:hover,
.drop a:hover{
	background:#D7E4FF;
	text-decoration:none;
}
/* post */
.post{
	height:1%;
	border-bottom:1px solid #dfdfdf;
	padding:11px 17px 10px 10px;
	float: left;
}
.post:after{
	clear:both;
	content:"";
	display:block;
}
.post .image{
	float:left;
	width:78px;
	margin:0 10px 0 0;
}
* html .post .image{margin-right:7px;}
.post .image img{
	display:block;
	border:1px solid #000;
}
.post .image .btn{
	display:block;
	background:url('../../img/admin/btn01.gif') no-repeat;
	width:55px;
	padding:0 0 0 23px;
	color:#fff;
	font:bold 11px/14px Arial, Helvetica, sans-serif;
	height:15px;
}
.drop-holder.hover .btn,
.drop-holder:hover .btn,
.post .image .btn:hover{
	text-decoration:none;
	background-position:0 -15px;
}
.post .text{
  overflow:hidden;
  padding:0 40px 0 0;
  position:relative;
}
.post .text .links {
  position:absolute;
  right:0;
  width:29px;
}
* html .post .text{
	overflow:visible;
	height:1%;
}
.post .text ul{
	width:100%;
	overflow:hidden;
	margin:0 0 9px -14px;
	border-bottom:1px solid #d7d7d7;
	padding-bottom:3px;
}
.post .text ul{
	font-size: 12px;
}
.post .text ul li{
	float:left;
	padding:8px 15px 0;
	background:url('../../img/admin/sep04.gif') no-repeat 0 85%;
	line-height:14px;
}
.post .text ul span{
	color:#007eff;
	font-weight:bold;
}
.post p{margin:0 0 5px;}
.post .row{
	width:100%;
	overflow:hidden;
}
.post .row a {
	font-size: 10px !important;
	line-height: 14px !important;
}
.post .add-note{
	float:left;
	font-weight:bold;
	color:#fff;
	padding:4px 20px 2px 7px;
	cursor:pointer;
	background:url('../../img/admin/btn-add-note.gif') no-repeat;
	width:60px;
	height:16px;
	margin:0 10px 0 6px;
	display:inline;
}
.post em{
	float:left;
	color:#b2b2b2;
	padding-top:4px;
}
.post-reply{
	padding-left:45px;
	background:url('../../img/admin/ico-lvl2.gif') no-repeat 15px 7px;
	position:relative;
}
.post-reply .text{
	padding-top:32px;
	background:none;
}
.post-reply .close{
	position:absolute;
	top:6px;
	right:12px;
	background:url('../../img/admin/btn-close.gif') no-repeat;
	width:15px;
	height:14px;
	text-indent:-9999px;
	overflow:hidden;
	z-index:1;
}
.post .text .row .expand{
	background:url('../../img/admin/btn-expand.gif') no-repeat scroll 0 0 transparent;
	bottom:0;
	display:none;
	height:14px;
	overflow:hidden;
	position:absolute;
	right:8px;
	text-indent:-9999px;
	width:15px;
	z-index:1;
}

* html .post-reply .close{right:11px;}
