@charset "utf-8";
/* CSS Document */

/* ADDED FROM CODE MY CONCEPT / ALWIN DESIGN */

/* info-block */
.drop-holder.hover,
.drop-holder:hover{position:relative;}
.drop-holder.hover .drop,
.drop-holder:hover .drop{display:block;}
/* drop-down */
.drop{
	position:absolute;
	width:152px;
	top:15px;
	right:0;
	padding:0;
	z-index:300;
	display:none;
	background: #fff;
	border: 1px solid #999;
	font-weight: bold;
}
.info-block .title .drop{
	top:24px;
	left:auto;
	right:16px;
	text-align:right;
	background:none repeat scroll 0 0 #FFFFFF;
}
.drop li{
	width:100%;
	overflow:hidden;
	line-height:21px;
	vertical-align:middle;
	font-weight: bold;
}
.indexDrop {
	display: inline;
	float: right;
}
.info-block .title .drop a, .drop a, .info-block .title .drop a:visited, .drop a:visited {
	display:block;
	padding:2px 0 2px 12px;
	height:1%;
	background:none;
	color:#000;
	font-weight: normal;
	text-decoration: none;
	color: #000;
}
.info-block .title .drop a, .info-block .title .drop a:visited{
	padding:2px 12px 2px 0;
	font-size: 12px;
	text-decoration: none;
}
.info-block .title .drop a:hover,
.drop a:hover{
	background:#D7E4FF;
	text-decoration:none;
}
/* indexRow */
.indexRow .image img{
	display:block;
	border:1px solid #000;
}
.indexRow .image .btn{
	display:block;
	background:url('../../img/admin/btn01.gif') no-repeat;
	width:55px;
	padding:0 0 0 23px;
	color:#fff;
	font:bold 11px/14px Arial, Helvetica, sans-serif;
	height:15px;
}
.drop-holder.hover .btn,
.drop-holder:hover .btn,
.indexRow .image .btn:hover{
	text-decoration:none;
	background-position:0 -15px;
}
.indexRow .text .links {
  position:absolute;
  right:0;
  width:29px;
}
* html .indexRow .text{
	overflow:visible;
	height:1%;
}



/* New Stuff */
.info-block {
	display: table;
	width: 99%;
}
.indexRow{
	float: left;
	width: 99%;
	display: table-row;
	position: relative;
}
.indexRow .image{
	padding: 0 5px 5px 0;
	display: table-cell;
}
.indexRow .indexCell{
	padding: 2px 3px;
	display: table-cell;
	vertical-align: top;
}
.indexContainer {
	width: 100%;
	border-bottom: 1px solid #CCC;
}
.indexContainer .indexRow:last-child  {
	display: block;
	width: 100%;
}
.indexContainer .indexRow:last-child .indexCell {
	display: block;
	width: 100%;
}
.indexRow .indexCell ul li{
	float:left;
	padding: 0 30px 0 0;
}
.indexRow .indexCell ul li.metaDataPriorityDetail {
	padding: 0;
	float: right !important;
}
.indexRow .metaData {
	width: 99%;
	overflow: auto;
	padding: 0px 8px;
}
.view .indexRow .metaData {
	background: #E6EDF9;
	
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px #777777;
    -moz-box-shadow: 1px 1px 2px #777777;
	-webkit-box-shadow: 1px 1px 2px #777777;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#777777');
}
.indexRow .metaDataLabel, .indexRow .metaDataLabel a {
	/*color: #06C;*/
	color: #999;
}
.indexRow .metaDataDetail {
	font-weight: bold;
	font-size: 13px;
}
.indexRow .recordData {
	float: left;
	padding: 3px;
	width: 100%;
}
.indexRow .recordData h3 {
	font-size: 20px;
	display: inline;
}
.indexRow .actions {
	position: absolute;
	top: 2px;
	right: 8px;
}
.indexRow .actions a {
	padding: 0 0 0 20px;
	font-size: 11px;
}
.ui-tabs-hide {
	display: none;
}

.data h6 {
	padding: 4px 12px;
	background: #E6EDF9;
	margin: 0 0 8px 0;
	font-weight: bold;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #777777;
    -moz-box-shadow: 1px 1px 2px #777777;
	-webkit-box-shadow: 1px 1px 2px #777777;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#777777');
}








.indexRow-reply{
	padding-left:45px;
	background:url('../../img/admin/ico-lvl2.gif') no-repeat 15px 7px;
	position:relative;
}
.indexRow-reply .text{
	padding-top:32px;
	background:none;
}
.indexRow-reply .close{
	position:absolute;
	top:6px;
	right:12px;
	background:url('../../img/admin/btn-close.gif') no-repeat;
	width:15px;
	height:14px;
	text-indent:-9999px;
	overflow:hidden;
	z-index:1;
}
.indexRow .text .row .expand{
	background:url('../../img/admin/btn-expand.gif') no-repeat scroll 0 0 transparent;
	bottom:0;
	display:none;
	height:14px;
	overflow:hidden;
	position:absolute;
	right:8px;
	text-indent:-9999px;
	width:15px;
	z-index:1;
}

* html .indexRow-reply .close{right:11px;}
