/* ADDED FROM CODE MY CONCEPT / ALWIN DESIGN */






/* indexRow */
.indexRow .image img{
	display:block;
	border:1px solid #000;
}
.indexRow .image .btn{
	display:block;
	background:url('../../img/admin/btn01.gif') no-repeat;
	width:55px;
	padding:0 0 0 23px;
	color:#fff;
	font:bold 11px/14px Arial, Helvetica, sans-serif;
	height:15px;
}
.drop-holder.hover .btn,
.drop-holder:hover .btn,
.indexRow .image .btn:hover{
	text-decoration:none;
	background-position:0 -15px;
}
.indexRow .text .links {
  position:absolute;
  right:0;
  width:29px;
}



/* New Stuff */
.info-block {
	display: table;
	width: 99%;
}





.view .indexRow .metaData {
	background: #E6EDF9;
	
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px #777777;
    -moz-box-shadow: 1px 1px 2px #777777;
	-webkit-box-shadow: 1px 1px 2px #777777;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#777777');
}
.indexRow .metaDataLabel, .indexRow .metaDataLabel a {
	/*color: #06C;*/
	color: #999;
}
.indexRow .metaDataDetail {
	font-weight: bold;
	/*font-size: 13px;*/
}
.indexRow .recordData {
	float: left;
	padding: 3px;
	width: 100%;
}
.indexRow .recordData h3 {
	/*font-size: 20px;*/
	display: inline;
}
.indexRow .actions {
	position: absolute;
	top: 2px;
	right: 8px;
}
.indexRow .actions a {
	padding: 0 0 0 20px;
	/*font-size: 11px;*/
}
.ui-tabs-hide {
	display: none;
}

.data h6 {
	padding: 4px 12px;
	background: #E6EDF9;
	margin: 0 0 8px 0;
	font-weight: bold;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #777777;
    -moz-box-shadow: 1px 1px 2px #777777;
	-webkit-box-shadow: 1px 1px 2px #777777;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#777777');
}








.indexRow-reply{
	padding-left:45px;
	background:url('../../img/admin/ico-lvl2.gif') no-repeat 15px 7px;
	position:relative;
}
.indexRow-reply .text{
	padding-top:32px;
	background:none;
}
.indexRow-reply .close{
	position:absolute;
	top:6px;
	right:12px;
	background:url('../../img/admin/btn-close.gif') no-repeat;
	width:15px;
	height:14px;
	text-indent:-9999px;
	overflow:hidden;
	z-index:1;
}
.indexRow .text .row .expand{
	background:url('../../img/admin/btn-expand.gif') no-repeat scroll 0 0 transparent;
	bottom:0;
	display:none;
	height:14px;
	overflow:hidden;
	position:absolute;
	right:8px;
	text-indent:-9999px;
	width:15px;
	z-index:1;
}

* html .indexRow-reply .close{right:11px;}
