[submodule "sites"]
	path = sites
	url = git@github.com:Buildrr/SITES.git
	branch = clean
[submodule "app/Plugin/Twitter"]
	path = app/Plugin/Twitter
	url = git@github.com:Buildrr/Twitter.git
[submodule "app/Plugin/Tags"]
	path = app/Plugin/Tags
	url = git@github.com:Buildrr/Tags.git
[submodule "app/Plugin/Forms"]
	path = app/Plugin/Forms
	url = git@github.com:Buildrr/Forms.git
[submodule "app/Plugin/Products"]
	path = app/Plugin/Products
	url = git@github.com:Buildrr/Catalogs.git
[submodule "app/Plugin/Drafts"]
	path = app/Plugin/Drafts
	url = git@github.com:Buildrr/Drafts.git
[submodule "app/Plugin/Activities"]
	path = app/Plugin/Activities
	url = git@github.com:Buildrr/Activities.git
[submodule "app/Plugin/Blogs"]
	path = app/Plugin/Blogs
	url = git@github.com:Buildrr/Blogs.git
[submodule "app/Plugin/Categories"]
	path = app/Plugin/Categories
	url = git@github.com:Buildrr/Categories.git
[submodule "app/Plugin/Comments"]
	path = app/Plugin/Comments
	url = git@github.com:Buildrr/Comments.git
[submodule "app/Plugin/Coupons"]
	path = app/Plugin/Coupons
	url = git@github.com:Buildrr/Coupons.git
[submodule "app/Plugin/Credits"]
	path = app/Plugin/Credits
	url = git@github.com:Buildrr/Credits.git
[submodule "app/Plugin/Invoices"]
	path = app/Plugin/Invoices
	url = git@github.com:Buildrr/Invoices.git
[submodule "app/Plugin/Media"]
	path = app/Plugin/Media
	url = git@github.com:Buildrr/Media-Files.git
[submodule "app/Plugin/Messages"]
	path = app/Plugin/Messages
	url = git@github.com:Buildrr/Messages.git
[submodule "app/Plugin/Projects"]
	path = app/Plugin/Projects
	url = git@github.com:Buildrr/Projects.git
[submodule "app/Plugin/Recaptcha"]
	path = app/Plugin/Recaptcha
	url = git@github.com:Buildrr/Recaptcha.git
[submodule "app/Plugin/Searchable"]
	path = app/Plugin/Searchable
	url = git@github.com:Buildrr/Searches.git
[submodule "app/Plugin/Tasks"]
	path = app/Plugin/Tasks
	url = git@github.com:Buildrr/Tasks.git
[submodule "app/Plugin/Timesheets"]
	path = app/Plugin/Timesheets
	url = git@github.com:Buildrr/Timesheets.git
[submodule "app/Plugin/Workflows"]
	path = app/Plugin/Workflows
	url = git@github.com:Buildrr/Workflows.git
[submodule "vendors/swift_mailer"]
	path = vendors/swift_mailer
	url = git@github.com:Buildrr/swift-mailer.git
[submodule "app/Plugin/Facebook"]
	path = app/Plugin/Facebook
	url = git@github.com:Buildrr/Facebook.git
[submodule "vendors/OAuth"]
	path = vendors/OAuth
	url = git@github.com:Buildrr/OAuth.git
[submodule "app/Plugin/Connections"]
	path = app/Plugin/Connections
	url = git@github.com:Buildrr/Connections.git
[submodule "app/Plugin/Events"]
	path = app/Plugin/Events
	url = git@github.com:Buildrr/Events.git
[submodule "app/Plugin/Transactions"]
	path = app/Plugin/Transactions
	url = git@github.com:Buildrr/Transactions.git
[submodule "app/Plugin/Estimates"]
	path = app/Plugin/Estimates
	url = git@github.com:Buildrr/Estimates.git
[submodule "app/Plugin/Ratings"]
	path = app/Plugin/Ratings
	url = git@github.com:Buildrr/Ratings.git
[submodule "app/Plugin/Invites"]
	path = app/Plugin/Invites
	url = git@github.com:Buildrr/Invites.git
[submodule "app/Plugin/Maps"]
	path = app/Plugin/Maps
	url = git@github.com:Buildrr/Maps.git
[submodule "app/Plugin/Courses"]
	path = app/Plugin/Courses
	url = git@github.com:Buildrr/Courses.git
[submodule "app/Plugin/Forums"]
	path = app/Plugin/Forums
	url = git@github.com:Buildrr/Forums.git
[submodule "app/Plugin/Favorites"]
	path = app/Plugin/Favorites
	url = git@github.com:Buildrr/Favorites.git
[submodule "app/Plugin/Feeds"]
	path = app/Plugin/Feeds
	url = git@github.com:Buildrr/Feeds.git
[submodule "app/Plugin/Answers"]
	path = app/Plugin/Answers
	url = git@github.com:Buildrr/Answers.git
[submodule "app/Plugin/Chats"]
	path = app/Plugin/Chats
	url = git@github.com:Buildrr/Chats.git
[submodule "app/Plugin/Wizards"]
	path = app/Plugin/Wizards
	url = git@github.com:Buildrr/Wizards.git
[submodule "app/Plugin/Subscribers"]
	path = app/Plugin/Subscribers
	url = git@github.com:Buildrr/Subscribers.git
[submodule "app/Plugin/Classifieds"]
	path = app/Plugin/Classifieds
	url = git@github.com:Buildrr/Classifieds.git
[submodule "app/Plugin/Phonebooks"]
	path = app/Plugin/Phonebooks
	url = git@github.com:Buildrr/Phonebooks.git
[submodule "app/Plugin/Properties"]
	path = app/Plugin/Properties
	url = git@github.com:Buildrr/Properties.git
[submodule "app/Plugin/Auctions"]
	path = app/Plugin/Auctions
	url = git@github.com:Buildrr/Auctions.git
[submodule "app/Plugin/Jobs"]
	path = app/Plugin/Jobs
	url = git@github.com:Buildrr/Jobs.git
[submodule "app/Plugin/Campaigns"]
	path = app/Plugin/Campaigns
	url = git@github.com:Buildrr/Campaigns.git
[submodule "app/Plugin/GenericAuth"]
	path = app/Plugin/GenericAuth
	url = git@github.com:Buildrr/GenericAuth.git
[submodule "app/Plugin/Tracker"]
	path = app/Plugin/Tracker
	url = git@github.com:Buildrr/Tracker.git
[submodule "app/Plugin/FileStorage"]
	path = app/Plugin/FileStorage
	url = git@github.com:Buildrr/FileStorage.git
[submodule "app/Plugin/Imagine"]
	path = app/Plugin/Imagine
	url = git@github.com:Buildrr/Imagine.git
