[submodule "sites"]
	path = sites
	url = git@razorit.beanstalkapp.com:/razorit/zuha-sites.git
[submodule "lib/Cake"]
	path = lib/Cake
	url = git@github.com:zuha/cakephp.git
[submodule "app/Plugin/Twitter"]
	path = app/Plugin/Twitter
	url = git@github.com:zuha/Twitter-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Tags"]
	path = app/Plugin/Tags
	url = git@github.com:zuha/Tags-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Forms"]
	path = app/Plugin/Forms
	url = git@github.com:zuha/Custom-Forms-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Catalogs"]
	path = app/Plugin/Catalogs
	url = git@github.com:zuha/Catalogs-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Orders"]
	path = app/Plugin/Orders
	url = git@github.com:zuha/Ecommerce-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Drafts"]
	path = app/Plugin/Drafts
	url = git@github.com:zuha/Drafts-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Activities"]
	path = app/Plugin/Activities
	url = git@github.com:zuha/Activities-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Blogs"]
	path = app/Plugin/Blogs
	url = git@github.com:zuha/Blogs-MultiUser-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Categories"]
	path = app/Plugin/Categories
	url = git@github.com:zuha/Categories-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Comments"]
	path = app/Plugin/Comments
	url = git@github.com:zuha/Comments-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Coupons"]
	path = app/Plugin/Coupons
	url = git@github.com:zuha/Coupons-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Credits"]
	path = app/Plugin/Credits
	url = git@github.com:zuha/Store-Credits-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Invoices"]
	path = app/Plugin/Invoices
	url = git@github.com:zuha/Invoices-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Media"]
	path = app/Plugin/Media
	url = git@github.com:zuha/Media-Files-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Messages"]
	path = app/Plugin/Messages
	url = git@github.com:zuha/Messages-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Projects"]
	path = app/Plugin/Projects
	url = git@github.com:zuha/Project-Management-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Recaptcha"]
	path = app/Plugin/Recaptcha
	url = git@github.com:zuha/Recaptcha-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Rss"]
	path = app/Plugin/Rss
	url = git@github.com:zuha/Rss-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Search"]
	path = app/Plugin/Search
	url = git@github.com:zuha/Search-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Searchable"]
	path = app/Plugin/Searchable
	url = git@github.com:zuha/Searches-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Shipping"]
	path = app/Plugin/Shipping
	url = git@github.com:zuha/Shipping-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Tasks"]
	path = app/Plugin/Tasks
	url = git@github.com:zuha/Tasks-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Timesheets"]
	path = app/Plugin/Timesheets
	url = git@github.com:zuha/Timesheets-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Utils"]
	path = app/Plugin/Utils
	url = git@github.com:zuha/Utils-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Workflows"]
	path = app/Plugin/Workflows
	url = git@github.com:zuha/Workflows-Zuha-Cakephp-Plugin.git
[submodule "app/webroot/js/ckeditor"]
	path = app/webroot/js/ckeditor
	url = git@github.com:zuha/ckeditor.git
[submodule "app/webroot/js/kcfinder"]
	path = app/webroot/js/kcfinder
	url = git@github.com:zuha/kcfinder.git
[submodule "vendors/swift_mailer"]
	path = vendors/swift_mailer
	url = git@github.com:zuha/swift-mailer.git
[submodule "app/Plugin/Facebook"]
	path = app/Plugin/Facebook
	url = git@github.com:zuha/Facebook-Zuha-Cakephp-Plugin.git
