[submodule "app/Plugin/Favorites"]
	path = app/Plugin/Favorites
	url = git@github.com:zuha/Favorites-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Records"]
	path = app/Plugin/Records
	url = git@github.com:zuha/Directories-Zuha-Cakephp-Plugin.git
[submodule "sites"]
	path = sites
	url = git@razorit.beanstalkapp.com:/razorit/zuha-sites.git
[submodule "lib/Cake"]
	path = lib/Cake
	url = git@github.com:zuha/cakephp.git
[submodule "app/Plugin/Twitter"]
	path = app/Plugin/Twitter
	url = git@github.com:zuha/Twitter-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Tags"]
	path = app/Plugin/Tags
	url = git@github.com:zuha/Tags-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Polls"]
	path = app/Plugin/Polls
	url = git@github.com:zuha/Polls-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Forms"]
	path = app/Plugin/Forms
	url = git@github.com:zuha/Custom-Forms-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Catalogs"]
	path = app/Plugin/Catalogs
	url = git@github.com:zuha/Catalogs-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Orders"]
	path = app/Plugin/Orders
	url = git@github.com:zuha/Ecommerce-Zuha-Cakephp-Plugin.git
[submodule "app/Plugin/Drafts"]
	path = app/Plugin/Drafts
	url = git@github.com:zuha/Drafts-Zuha-Cakephp-Plugin.git
