/app/Config/database.php
/app/Config/facebook.php
/app/Config/core.php
/app/tmp/logs/debug.log
/app/tmp/logs/error.log
/app/tmp/cache/models/cake*
/app/tmp/cache/persistent/cake*
/app/tmp/cache/views/cake*
/app/tmp/cache/cake*
\#*\#
/plugins
/sites/**/Config/database.php
/sites/**/Config/core.php
/sites/**/tmp/logs/debug.log
/sites/**/tmp/logs/error.log
/sites/**/tmp/cache/models/cake*
/sites/**/tmp/cache/persistent/cake*
/sites/**/tmp/cache/views/cake*
/sites/**/tmp/cache/views/element*
/sites/**/tmp/cache/cake*
/sites/**/tmp/cache/*storage*
/sites/**/View/Themed/Default/webroot/upload/*
/sites/**/View/Themed/Default/webroot/files/*
/sites/**/View/Themed/Default/webroot/media/*
settings.ini
\.*
\_*
*\~
*.ppx
*.ppj