/* General reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align: baseline; background:none;}
ol, ul {list-style:none;}
h1, h2, h3, h4, h5, h6, li {line-height:100%;}
blockquote, q {quotes:none;}
table {border-collapse:collapse; border-spacing:0;}
input, textarea, button {font-family:inherit; font-size:1em;}
/* general settings */
html{height:100%;}
body{
	margin:0;
	color:#474747;
	font:11px/14px Arial, Helvetica, sans-serif;
	background:#f1f1f1;
	height:100%;
	min-width:960px;
}
img{border-style:none;}
a{
	text-decoration:none;
	color:#000;
}
a:hover{text-decoration:underline;}
input, textarea, select{vertical-align:middle;}
/* wrapper 
.wrapper{min-height:100%;}
* html .wrapper{height:100%;}*/
#header{
	background:url(../img/admin/bg-header.gif) repeat-x;
	border-bottom:1px solid #4f4f4f;
	position:relative;
	z-index:10;
}
#header .holder{
	width:960px;
	height:51px;
	margin:0 auto;
	position:relative;
}
#header .holder:after{
	content:"";
	clear:both;
	display:block;
}
/* logo */
.logo{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../img/admin/logo.gif) no-repeat;
	width:109px;
	height:39px;
	margin:6px 3px 0 0;
}
.logo a{
	display:block;
	height:100%;
}
.nav{float:left;}
.nav li{
	float:left;
	font-size:12px;
	line-height:15px;
}
.nav a{
	float:left;
	color:#282828;
	cursor:pointer;
}
.dashboard{background:url(../img/admin/ico02.gif) no-repeat 50% 3px;}
.contacts{background:url(../img/admin/ico03.gif) no-repeat 50% 1px;}
.projects{background:url(../img/admin/ico04.gif) no-repeat 50% 3px;}
.e-commerce{background:url(../img/admin/ico05.gif) no-repeat 50% 1px;}
.content{background:url(../img/admin/ico06.gif) no-repeat 50% 2px;}
.marketing{background:url(../img/admin/ico07.gif) no-repeat 50% 1px;}
.nav a strong{
	float:left;
	padding-left:1px;
}
.nav a strong strong{padding:0 1px 0 0;}
.nav a strong strong strong{padding:35px 11px 1px;}
.nav li.active a,
.nav a:hover{
	color:#fff;
	text-decoration:none;
}
.nav li.active strong,
.nav a:hover strong{background:url(../img/admin/sep02.gif) repeat-y;}
.nav li.active strong strong,
.nav a:hover strong strong{background:url(../img/admin/sep02.gif) repeat-y 100% 0;}
.nav li.active strong strong strong,
.nav a:hover strong strong strong{background:url(../img/admin/bg-nav-active.png);}
.nav li.active .drop{display:block;}
.nav .drop{
	width:958px;
	position:absolute;
	top:52px;
	left:0;
	display:none;
}
.nav .drop .b,
.nav .drop .t{
	height:104px;
	overflow:hidden;
	background:url(../img/admin/bg-nav-drop-t.png) no-repeat;
}
.nav .drop .b{
	background:url(../img/admin/bg-nav-drop-b.png) no-repeat;
}
.nav .drop .c{
	height:1%;
	background:url(../img/admin/bg-nav-drop-c.png) repeat-y;
}
.nav .drop .c:after{
	content:"";
	clear:both;
	display:block;
}
.nav ul{
	width:959px;
	float:left;
	padding:0 0 0 20px;
	margin:-104px -20px -90px 0;
	position:relative;
}
.nav ul li{
	width:114px;
	float:left;
	font-size:11px;
	margin-right:20px;
	padding-top:12px;
	text-align:center;
}
.nav ul li:first-child{
	position: absolute;
	bottom: 0; 
	right: 0;
}
.nav li.active ul a,
.nav ul li a{
	color:#000;
	float:none;
	height:100%;
	display:block;
	padding: 0;
}
.nav ul li a:hover{color:#000;}
.nav ul li img{vertical-align:top;}
.nav ul li a span{
	display:block;
	padding-bottom:1px;
}
.nav li.active ul a:hover span,
.nav ul li a:hover span{text-decoration:underline !important;}
.nav .drop .close {top:-5px; position:absolute; right:25px;}
.nav .drop .close:hover {background: none;}
#header .info{
	text-align:right;
	overflow:hidden;
	padding:6px 0 0;
}
* html #header .info{
	overflow:visible;
	height:1%;
}
#header .info .img{
	float:right;
	border:1px solid #010100;
	margin:0 0 0 11px;
}
* html #header .info .img {margin:0 0 0 8px;}
#header .info .img img{display:block; width: 40px; height: 40px;}
#header .info .text {
	padding:7px 0 0;
	overflow:hidden;
}
* html #header .info .text{
	overflow:visible;
	height:1%;
}
#header .info p{
	color:#fff;
	margin-bottom:4px;
}
#header .info ul li{
	display:inline;
	padding:0 1px 0 5px;
	background:url(../img/admin/sep01.gif) no-repeat 0 50%;
}
#header .info ul li:first-child{background:none;}
#header .info ul a{color:#fda701;}
/* main */
#main{
	width:933px;
	margin:0 auto;
	padding:20px 4px 80px 24px;
}
/* main-holder */
.main-holder{width:100%;}
.main-holder:after{
	clear:both;
	content:"";
	display:block;
}
/* heading */
.heading{
	width:720px;
	overflow:hidden;
	padding:3px 2px 0 1px;
	margin-bottom:10px;
}
.heading h2{
	float:left;
	font-size:24px;
	line-height:29px;
	color:#010101;
}
.heading h2 span{font-size:11px;}
.heading h2 em{
	color:#0781fd;
	font-style:normal;
}
.search-form{
	float:right;
	padding-bottom:5px;
}
.search-form fieldset{float:left;}
.search-form .txt-holder{
	float:left;
	background:url(../img/admin/bg-txt.gif) no-repeat;
	height:29px;
	overflow:hidden;
}
.search-form .txt{
	float:left;
	padding:7px 10px;
	border:0;
	background:none;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#7a7a7a;
	width:176px;
}
.search-form .btn{float:left;}
/* content */
#content{
	float:left;
	/*width:721px;
	padding: 1px 1px 0;*/
	width: 707px;
	padding:8px;
	background:#fff;
	font-size: 110%;
}
/* info-block */
.info-block{width:100%;}
.info-block .title{
	background:#d2d2d2 url(../img/admin/bg-title.gif) repeat-x;
	width:100%;
}
.info-block .title:after{
	clear:both;
	content:"";
	display:block;
}
.info-block .title strong{
	float:left;
	color:#535353;
	font-size:11px;
	line-height:14px;
	padding:8px 31px 8px 12px;
	background:url(../img/admin/sep03.gif) no-repeat 100% 60%;
}
.info-block .title a,
.info-block .title span{color:#007eff;}
.info-block .title a{
	padding:0 11px 0 0;
	background:url(../img/admin/bullet01.gif) no-repeat 100% 50%;
}
.info-block .title .drop-holder{float:right;}
.info-block .title .drop-holder strong{
	background:none;
	padding-right:21px;
}
.drop-holder.hover,
.drop-holder:hover{position:relative;}
.drop-holder.hover .drop,
.drop-holder:hover .drop{display:block;}
/* drop-down */
.drop{
	position:absolute;
	width:152px;
	top:15px;
	left:0;
	padding:0;
	z-index:99;
	display:none;
	background: #fff;
}
.info-block .title .drop{
	top:24px;
	left:auto;
	right:16px;
	text-align:right;
	background:none repeat scroll 0 0 #FFFFFF;
}
.drop li{
	width:100%;
	overflow:hidden;
	font-size:17px;
	line-height:21px;
	vertical-align:middle;
}
.info-block .title .drop a,
.drop a{
	display:block;
	padding:2px 0 2px 12px;
	height:1%;
	background:none;
	color:#000;
}
.info-block .title .drop a{padding:2px 12px 2px 0;}
.info-block .title .drop a:hover,
.drop a:hover{
	background:#e0f3d4;
	text-decoration:none;
}
/* post */
.post{
	height:1%;
	border-bottom:1px solid #dfdfdf;
	padding:11px 17px 10px 10px;
}
.post:after{
	clear:both;
	content:"";
	display:block;
}
.post .image{
	float:left;
	width:78px;
	margin:0 10px 0 0;
}
* html .post .image{margin-right:7px;}
.post .image img{
	display:block;
	border:1px solid #000;
}
.post .image .btn{
	display:block;
	background:url(../img/admin/btn01.gif) no-repeat;
	width:55px;
	padding:0 0 0 23px;
	color:#fff;
	font:bold 11px/14px Arial, Helvetica, sans-serif;
	height:15px;
}
.drop-holder.hover .btn,
.drop-holder:hover .btn,
.post .image .btn:hover{
	text-decoration:none;
	background-position:0 -15px;
}
.post .text{
  overflow:hidden;
  padding:0 40px 0 0;
  position:relative;
}
.post .text .links {
  position:absolute;
  right:0;
  width:29px;
}
* html .post .text{
	overflow:visible;
	height:1%;
}
.post .text ul{
	width:100%;
	overflow:hidden;
	margin:0 0 9px -14px;
	border-bottom:1px solid #d7d7d7;
	padding-bottom:3px;
}
.post .text ul li{
	float:left;
	padding:8px 15px 0;
	background:url(../img/admin/sep04.gif) no-repeat 0 85%;
	line-height:14px;
}
.post .text ul span{
	color:#007eff;
	font-weight:bold;
}
.post p{margin:0 0 5px;}
.post .row{
	width:100%;
	overflow:hidden;
}
.post .add-note{
	float:left;
	font-weight:bold;
	color:#fff;
	padding:4px 20px 2px 7px;
	cursor:pointer;
	background:url(../img/admin/btn-add-note.gif) no-repeat;
	width:60px;
	height:16px;
	margin:0 10px 0 6px;
	display:inline;
}
.post em{
	float:left;
	color:#b2b2b2;
	padding-top:4px;
}
.post-reply{
	padding-left:45px;
	background:url(../img/admin/ico-lvl2.gif) no-repeat 15px 7px;
	position:relative;
}
.post-reply .text{
	padding-top:32px;
	background:none;
}
.post-reply .close{
	position:absolute;
	top:6px;
	right:12px;
	background:url(../img/admin/btn-close.gif) no-repeat;
	width:15px;
	height:14px;
	text-indent:-9999px;
	overflow:hidden;
	z-index:1;
}
.post .text .row .expand{
	background:url("../img/admin/btn-expand.gif") no-repeat scroll 0 0 transparent;
	bottom:0;
	display:none;
	height:14px;
	overflow:hidden;
	position:absolute;
	right:8px;
	text-indent:-9999px;
	width:15px;
	z-index:1;
}

* html .post-reply .close{right:11px;}
/* sidebar */
#sidebar{
	float:left;
	width:210px;
	padding-top:50px;
}
/* menu */
.menu{width:100%;}
.menu:after{
	clear:both;
	content:"";
	display:block;
}
.menu li{
	width:100%;
	vertical-align:middle;
	margin-bottom:10px;
	font-size:18px;
	line-height:26px;
}
.menu li:after{
	clear:both;
	content:"";
	display:block;
}
.menu li a{
	display:block;
	height:1%;
	cursor:pointer;
	padding:7px 5px 7px 17px;
	background:#e0f3d4;
}
.menu li a:after{
	clear:both;
	content:"";
	display:block;
}
.menu li:hover a,
.menu li.hover a,
.menu .active a,
.menu li a:hover{
	background:#fff;
	text-decoration:none;
}
.menu li a span{
	float:left;
	padding:0 17px 0 0;
	background:url(../img/admin/bullet02.gif) no-repeat 100% 11px;
}
.menu .drop{
	width:165px;
	text-align:right;
	left:-11px;
	top:30px;
}
.menu .drop li{margin:0;}
.menu .drop a{
	padding:3px 12px 3px 0;
	font-size:17px;
	line-height:21px;
}
.menu .drop a:hover{background:#e0f3d4;}
/* footer */
#footer{
	overflow:hidden;
	padding:10px 8px 10px 12px;
	background:url(../img/admin/dev01.gif) repeat-x;
	color:#919191;
	margin-top:-34px;
	position:relative;
	height:14px;
}
#footer p{
	float:left;
	padding-right:6px;
}
#footer ul{
	float:left;
	overflow:hidden;
}
#footer ul li{
	float:left;
	padding:0 9px;
	margin-left:-1px;
	background:url(../img/admin/sep04.gif) no-repeat 0 60%;
	line-height:14px;
}
#footer ul a{color:#0781fd;}
/* logo */
#footer .logo{
	float:right;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../img/admin/logo2.gif) no-repeat;
	width:69px;
	height:32px;
	margin:-8px 0 -10px;
	position:relative;
}
#footer .logo a{
	display:block;
	height:100%;
}




























#loadingimg {
	position: absolute; 
	top: 40px; 
	left: 250px;
}
/* Tables */
table {
	background: #fff;
	border:1px solid #ccc;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	background: #f2f2f2;
	border:1px solid #bbb;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	text-align: center;
}
th a {
	background:#f2f2f2;
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a:hover {
	background: #ccc;
	color: #333;
	text-decoration: none;
}
table tr td {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 4px;
	/*text-align: center;*/
	vertical-align: top;
}
table tr.altrow td {
	background: #f4f4f4;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
td.actions a {
	margin: 0px 6px;
}


.view table {
	border: 1px solid #ccc;
	border-collapse: collapse;
}
.view table tr td {
	background: #fff;
	border: none;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}
.view table tr  {
	border-bottom: 1px solid #ccc;
}
.view table tr td input {
	padding: 0;
}
.view table tr td label {
	padding: 0;
}
.view table tr td input[type="checkbox"] {
	margin: 0;
}

.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
	clear: both;
	width: 100%;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 100%;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	padding: .5em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
}
label {
	display: block;
	padding-right: 20px;
	float: left;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
}
input, textarea {
	clear: both;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
}
select {
	clear: both;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 0px;
	width: auto;
}
.checkbox label {
	width: auto;
}
.checkbox label:hover {
	background: #D7E3EA;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}

/* Notices and Errors */
div.message {
	clear: both;
	color: #666;
	font-size: 170%;
	font-weight: bold;
	margin: 1em 0;
	background: #ACD859;
	padding: 30px;
	border-radius: .8em;
	-moz-border-radius: .8em;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}
/* Debugging */
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	border: 4px dotted #ffcc00;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}



/* ajax editing css */ 
.ajaxblank {
	color: #CCC;
}

/* contact people view */


.timing {
	clear: both;
}

/* view pages */ 
.data {
	padding: 0;
	clear: both;
}
.data h6 {
	float: left;
}
.action {
	float: right;
	clear: right;
	margin: .5em;
}
.elsePrompt {
	clear: both;
}
.action a {
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	padding: .2em .4em;
	border: 1px solid #BBBBBB;
	-moz-border-radius:3px 3px 3px 3px;
	font-size: 11px;
	color: #000;
	text-decoration: none;
}
.action a:hover {
	border: 1px solid #939393;
	text-decoration: none;
}
.data {
	clear: both;
}
.datalist {
	display: block; 
	clear: both;
	margin: 0;
	padding: 0;
	border-radius: .3em;
	-moz-border-radius: .3em;
	list-style: none;
}
.datalist li {
	margin: 0 0 .3em 0;
	padding: .2em .3em;
	border-radius: .5em;
	-moz-border-radius: .5em;
	border: 1px solid #ddd;
	overflow: auto;
} 
.datalist li .action a {
	visibility: hidden;
}
.datalist li:hover .action a {
	visibility: visible;
}
.datalist ul {	
	float: left;
	clear: both;
	overflow: auto;
	display: block;
	margin: 1em 0 0 1em;
	padding: 0;
}
.datalist ul li, .detail {
	margin: 0 0 .3em 0;
	padding: .2em .3em;
	border-radius: .5em;
	-moz-border-radius: .5em;
	border: 3px solid #ddd;
	background: #fff;
} 
.details ul {
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	overflow: auto;
	margin: 8px 0;
	border: 1px solid #BBBBBB;
}
.details li {
	display: inline;
	float: left;
	border: none;
	border-right: 1px solid #666;
	padding: .2em 1em;
	margin: 0 .5em 0 0;
}
.details li:last-child {
	border: none;
}
.details li span {
	display: block;
	float: left;
	clear: left;
	font-size: 1em;
	font-weight: bold;
}
.details li .label, .details li .label a {
	font-size: 10px;
	color: #999;
	font-weight: normal;
}

/* auto completer */

.auto_complete    {
     position         :absolute;
     width            :250px;
     background-color :white;
     border           :1px solid #888;
     margin           :0px;
     padding          :0px;
} 
.auto_complete ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.auto_complete li.selected    { 
	background-color: #ffb; 
}


/*inline jquery editing */
.edit:hover {
	background: #FF9;
}
.edit form {
	display: inline;
}
.edit form input {
	min-width: 175px;
}
.edit form textarea {
	min-width: 400px;
	min-height: 250px;
}
.toggleClick {
	color: #000;
	text-decoration: none;
	cursor: default;
}
#toggleSidebar {
	color: #000;
	text-decoration: none;
	cursor: text;
	display: block;
	position: absolute;
	top: 0;
	right: -24%;
	z-index: 100;
	font-size: .8em;
}
.hide {
	display: none;
	overflow: auto;
	clear: both;
}
.hide form {
	float: left;
	display: block;
	background: #E8ECF7;
}
.hide .input, .hide .submit {
	float: left;
	clear: left;
	width: auto;
}
.hide .input label {
	width: 150px;
}

/* Project */
.branch-project-issue-name, .child-project-issue-name {
	font-weight: bold;
}
.child-issue {
	margin: 4px 0 0 20px;
}

/* Priorities */
.mypriorities table tr td, .mypriorities table {
	border: none;
}
.mypriorities table tbody tr.contact {
	background: #FF9; 
}
.mypriorities table tbody tr.task {
	background: #D7EDFF;
}
.mypriorities table tbody tr.project {
	background: #DFFFD7;
}
.mypriorities table tbody tr td {
	background: none;
	text-align: left;
}
.mypriorities table thead th {
	text-align: left;
}
/* Contact Opportunities */
.opportunity-name {
	font-weight: bold;
}

