.drop{
	-moz-box-shadow:1px 3px 3px #888;
	-webkit-box-shadow: 1px 3px 3px #888;
	box-shadow: 1px 3px 3px #888;
}
#content{
	-moz-box-shadow:10px 0 10px #ddd;
	-webkit-box-shadow: 10px 0 10px #ddd;
	box-shadow: 10px 0 3px #ddd;
}
.menu li a{
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius:0 6px 6px 0;
	border-radius:0 6px 6px 0;
}
.menu .drop a{
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}