body {width: expression(document.documentElement.clientWidth < 1000 ? '1000px' : 'auto');}
#header .info ul li{background-image:expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");}.nav li.active strong strong strong,
.nav a:hover strong strong strong {
	background:none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='images/bg-nav-active.png', sizingmethod='scale');
}
.nav .drop .b,
.nav .drop .t {
	background:none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='images/bg-nav-drop-t.png', sizingmethod='crop');
}
.nav .drop .b {
	background:none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='images/bg-nav-drop-b.png', sizingmethod='crop');
}
.nav .drop .c {
	background:none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='images/bg-nav-drop-c.png', sizingmethod='scale');
}
.drop-holder{behavior: expression(this.onmouseover = new Function("this.className += ' hover'"), this.onmouseout = new Function("this.className = this.className.replace(' hover','')"), this.style.behavior = null);}