* {
	margin:0;
	padding:0;
}

/* General Style Info */
body {
	background: #09B1F0 url('../img/body.jpg') repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:80%;
	margin: 0;
	padding: 0 2%;
}
a {
	color: #89A2CB;
	text-decoration: underline;
}
a:hover {
	color: #003d4c;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	color: #0066CC;
	font-size: 100%;
	margin: 0.1em 0;
}
h2 {
	color: #0066CC;
	font-family: helvetica, arial, sans-serif;
	font-size: 190%;
	margin: 0.3em 0;
}
h3 {
	color: #6C8CBB;
	font-family: helvetica, arial, sans-serif;
	font-size: 165%;
	padding-top: .5em;
}
h4 {
	color: #993;
	font-weight: normal;
	padding-top: 0.5em;
}
h5 {
	color: #993;
	font-weight: normal;
	font-size: 110%;
}
h6 {
	color: #993;
	font-weight: normal;
	font-size: 100%;
}
ul, li {
	margin: 0 12px;
}

/* Layout */
#container {
	text-align: left;
	border-radius: 2em;
	-moz-border-radius: 2em;
}

#header{
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 80%;
	background: url('../img/zuha.png') no-repeat 100% 10px;
	padding: 30px 0 0 0;
	margin: 20px 0 0 0;
	border-top-left-radius: 1em;
	-moz-border-radius-topleft: 1em;
	border-top-right-radius: 1em;
	-moz-border-radius-topright: 1em;
}
#header p {
	float: right;
	margin: 62px 10px 0 0;
	position: relative;
	z-index: 20;
}
.nav {
	color: #fff;
	height: 35px;
	margin: 30px 0 0 0;
	padding: 5px 0;
	position: relative;
	z-index: 10;
	/*border-top-radius: 1.5em;
	-moz-border-radius: 1.5em;*/
}
.nav a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	margin-right: 8px;
	font-size: 130%;
	background: #D2D2D2;
	background: #666;
	border-top-left-radius: 1em;
	-moz-border-radius-topleft: 1em;
	border-top-right-radius: 1em;
	-moz-border-radius-topright: 1em;
	border: 1px solid #666;
	
}
.nav a:hover {
	background: #F39D41;
}
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0; 
}
.nav li {
	float: left;
	margin: 0;
	padding: 0; 
}
.nav li ul {
	margin: 0;
	padding: 0; 
	display: block;
	width: 100%;
	padding: 3px 0;
	position: absolute;
	top: 25px;
	left: 0px;
	background: #fff;
	border-bottom-left-radius: 1em;
	-moz-border-radius-bottomleft: 1em;
	border-bottom-right-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	border: 1px solid #666;
	height: 20px;
}
.nav li ul li {
	margin: 0;
	padding: 0; 
}
.nav li ul li a {
	padding: 0; 
	margin: 2px 25px 0 20px;
	background: none;
	border-top-left-radius: none;
	-moz-border-radius-topleft: none;
	border-top-right-radius: none;
	-moz-border-radius-topright: none;
	font-size: 120%;
	display: block;
	float: left; 
	border: none;
}
.nav li ul li a:hover {	
	background: none;
	color: #F39D41;
}
.nav ul li ul {
	display: none;
}
.pages .nav ul {
	display: none;
}
.contacts li.crm ul, .contact_people li.crm ul, .contact_companies li.crm ul, .projects li.pm ul, .project_issues li.pm ul, .timesheets li.pm ul, .orders li.ecom ul, .catalogs li.ecom ul, .invoices li.ecom ul, .webpages li.site ul, .campaigns li.ads ul, .settings li.admin ul, .wikis li.site ul, .wiki_pages li.site ul, .wiki_contents li.site ul {
	display: block;
}
.contacts li.crm a,.contact_people li.crm a, .contact_companies li.crm a, .projects li.pm a, .project_issues li.pm a, .timesheets li.pm a, .orders li.ecom a, .catalogs li.ecom a, .invoices li.ecom a, .webpages li.site a, .campaigns li.ads a, .settings li.admin a, .wikis li.site a, .wiki_pages li.site a, .wiki_contents li.site a {
	background: #fff; 
	color: #666;
}
#header h1 a:hover {
	text-decoration: underline;
}
#header h2 {
	font-size: 100%;
	background: #003;
	color: #fff;
	padding: 5px 15px;
	margin: 0;
	font-weight: normal;
}
#header h2 a {
	background: none;
	color: #fff;
	text-decoration: none;
	margin-right: 30px;
}
#header h2 a:hover {
	text-decoration: underline;
}
#contentwrap {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden; 
	margin: 20px 0 0 0;
	border: 1px solid #666;
	background: #fff; /* column 2 background color */
	border-radius: 1em;
	-moz-border-radius: 1em;
}
#content{
	float:left;
	width:100%;
	position:relative;
	right:25%;
	background:; /* column 1 background color */
	border-bottom-left-radius: 1em;
	-moz-border-radius-bottomleft: 1em;
	border-right: 1px solid #666;
}
#col1 {
	float:left;
	width:72%;
	position:relative;
	left:26%;
	overflow:hidden;
	padding: 1% 0%;
}
#col2 {
	float:left;
	width:25%;
	position:relative;
	left:26%;
	overflow:hidden;
	padding: 1% 0%;
}
#loadingimg {
	position: absolute; 
	top: 40px; 
	left: 250px;
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

/* Tables */
table {
	background: #fff;
	border:1px solid #ccc;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
	font-size: 85%;
}
th {
	background: #f2f2f2;
	border:1px solid #bbb;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	text-align: center;
}
th a {
	background:#f2f2f2;
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a:hover {
	background: #ccc;
	color: #333;
	text-decoration: none;
}
table tr td {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}
table tr.altrow td {
	background: #f4f4f4;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
td.actions a {
	margin: 0px 6px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
	clear: both;
	width: 100%;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 99%;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	font-size: 100%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	padding: .5em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
}
label {
	display: block;
	font-size: 85%;
	padding-right: 20px;
	float: left;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
}
input, textarea {
	clear: both;
	font-size: 85%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 99%;
}
select {
	clear: both;
	font-size: 85%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 0px;
	width: auto;
}
.checkbox label {
	width: auto;
}
.checkbox label:hover {
	background: #D7E3EA;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 85%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}

/* Notices and Errors */
div.message {
	clear: both;
	color: #666;
	font-size: 170%;
	font-weight: bold;
	margin: 1em 0;
	background: #ACD859;
	padding: 30px;
	border-radius: 1em;
	-moz-border-radius: 1em;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/*  Col2  */
div#col2 ul {
	margin: 0px 0;
	padding: 0;
}
div#col2 li {
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div#col2 ul li a {
	font-size: 160%;
	color: #999;
	text-decoration: none;
	background: #E3EEFD;
	padding: 0 8px;
	display: block;
	width: 84%;
	margin: 20px 47px;
	border: 1px solid #CCC;
	border-radius: 2em;
	-moz-border-radius: 2em;
	text-align: center;
}
div#col2 ul li a:hover {
	color: #666;
	border: 1px solid #666;
	background: #fff;
}

/* Related */
div.related {
	clear: both;
	display: block;
}

/* Debugging */
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	border: 4px dotted #ffcc00;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}

/* contextual menu standards */ 

/* ajax messages*/
#deleteMessage {
	width: 100%;
	background: #FFE7B3;
}

/* ajax editing css */ 
.ajaxblank {
	color: #CCC;
}

/* content tabs */ 
#tabs{
	margin-left: 4px;
    padding: 0;
    background: transparent;
    padding-left: 5px;
	clear: both;
}
#tabs ul{
    margin:0;
    padding:0;
    list-style:none;
}
#tabs li{
    display:inline;
    margin:0 2px 0 0;
    padding:0;
}
#tabs a{
    float:left;
    margin:0 2px 0 0;
    padding:0 0 1px 3px;
    text-decoration:none;
	border-bottom: 1px solid #A5BED1;
}
#tabs a span{
    float:left;
    display:block;
    padding:4px 9px 2px 6px;
}
#tabs a span{
	float:none;
}
#tabHeaderActive a { 
	color: #006;
	border-bottom: 1px solid #006;
}
.tabContent {
    clear:both;
	border-bottom: 1px solid #A5BED1;
	overflow: auto;
}

/* contact people view */
.data {
	bo.rder: 1px solid #CCC;
	margin: 1% 0;
	padding: 0 1%;
	width: 97%;
	float: left;
	background: #fff;
	border-left: 3px solid #666;
}
.data h6 {
	background: #fff;
	padding: 5px 0px;
	border-bottom: 1px solid #CCC;
	color: #666;
	font-weight: bold; 
	font-size: 160%;
}
.data ul {
	clear: both;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 99%;
}
.action {
	float: right;
	clear: right;
}
.timing {
	clear: both;
}
.relationships  {
	border: none;
	padding: 0;
	margin: 12px 0 0 12px;
	width: 50%;
}
.relationships, .relationships ul, .contactname {
	float: left;
}
.relationships ul {
	width: 50%;
}
.relationships ul li:hover {
	background: none;
}

/* contact people activities view */
.datalist {
	display: block; 
	float: left;
	clear: both;
}
.datalist li {
	clear: both;
	bor.der-bottom: 1px solid #E9E9E9;
	margin: 0 0 8px 0;
	padding: 2px 8px;
	border-radius: 1em;
	-moz-border-radius: 1em;
}
.datalist li .action a {
	color: #fff;
	text-decoration: underline;
	text-transform: lowercase;
}
.datalist li:hover {
	background: #E3EEFD;
}
.datalist li:hover .action a {
	color: #000;
}
.datalist ul {	
	float: left;
	clear: both;
	overflow: auto;
	width: 97%; 
	display: block;
	padding: 1%;
	margin: 0 0 10px 0;
}
.datalist ul li, .datalist ul li:hover  {
	border: none;
	margin: 0;
	background: inherit;
	color: inherit;
}
/* auto completer */

.auto_complete    {
     position         :absolute;
     width            :250px;
     background-color :white;
     border           :1px solid #888;
     margin           :0px;
     padding          :0px;
} 
.auto_complete ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.auto_complete li.selected    { 
	background-color: #ffb; 
}

/* charts */ 
.flash_chart_pie {
	border: 1px solid #000;
}