/* 
This is a system css file to define default css rules so that new sites are at least legible.  
The css placed here should be easily over written even with simple css rules for site css.
Note that the class names could be updated and change often.
*/

/* Site Errors */
#databaseUpgrades {
	padding: 15px;
}
.siteUpgradeNeeded {
	position: absolute;
	top: 0;
	left: 0; 
	z-index: 999999999999999;
	background: #FC9;
	padding: 3px;
	color: #C00;
	font-weight: bold;
}
.message {
    background: #FCEFE4;
    border: 2px solid #F90;
    padding: 1em;
	margin: 1em;
    color: #C60;
    font-weight: bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.error-message, .error {
	color: #C00;
}

.toggleClick, .toggleHover {
	cursor: pointer;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.hide form {
	display: block;
	background: #f0f0f0;
}
.edit input, .edit textarea, .edit select {
	min-width: 0;
}

	
/* Threaded Blog Comment Layout */
.comment {
	clear: both;
}
.comment .avatar, .comment .full_name, .comment .meta {
	float: left;
}
.comment .avatar img {
	width: 3em;
	height: 3em;
}
.comment .body {
	clear: both;
}
.comments .tree-block li {
	list-style-type: none;
}


/* Very light form styling */
.select .checkbox {
	display: block;
}
input[type=radio], input[type=checkbox] {
	width:auto;
	min-width: 0;
}

/* /orders/order_transactions/checkout */
#creditCardInfo .input.select { float: left; }
#creditCardInfo .input.text { clear: left; }
#OrderTransactionCardExpMonth { width: 45px !important; float: left !important; }
#OrderTransactionCardExpYear { width: 75px !important; float: left !important; clear: none !important; }


/* Specific for invoices /invoices/invoices/add */
.lineTotal {
	text-align: right;
}
.invoiceTotal {
	text-align: right;
}
.invoiceTotal ul, .invoiceTotal li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.invoiceTotal input, .invoiceTotal label {
	float: none;
	float: none;
	clear: none;
	display: inline;
	min-width: 5em;
	text-align: right;
	border: none;
	background: #FFF;
}
.invoiceTotal input {
	font-size: 1em;
}
.invoiceProjects {
	display: block;
	float: left;
}
.generate .projects {
	clear: both;
}



/* admin navigation */
#slidedock {
	width: 100%;
}
#slidedock_content {
	clear: both;
	background: #333;
	height: 100%;
	min-width: 240px;
	border-bottom: 1px solid #039;
	padding: 0;
	margin: 0;
}
#slidedock_content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#slidedock_content ul li {
	display: inline;
	position: relative;
	padding: 0;
	margin: 0;
}
#slidedock_content ul li a {
	padding: 0 .5em 0 0.25em;
	color: #CCC;
	cursor: pointer;
	font-size: 0.64em;
	text-transform: capitalize;
	border-right: 1px solid #333;
}
/* sub nav */
#slidedock_content ul li ul {
	display: none;
	position: absolute;
	top: 1.3em;
	left: -0.3em;
	background: #eaeaea;
	color: #000;
	border: 1px solid #000;
	width: 10em;
	padding: 0;
	margin: 0;
}
#slidedock_content ul li:hover ul, #slidedock_content ul li ul:hover {
	display: block;
}
#slidedock_content ul li ul li {
	display: block;
	font-size: 0.75em;
	text-transform: uppercase;
}
#slidedock_content ul li ul li.separator {
	border-bottom: 1px solid #666;
}
#slidedock_content ul li ul li a {
	border-right: none;
	border-bottom: 1px solid #000;
}
#slidedock_content ul li ul li a:last-child {
	border: none;
}
#slidedock_content ul li ul li a:hover {
	color: #333;
}

/* editor */
#background_layer {
	position: fixed;
	background-color: #666;
	opacity: 0.8;
	filter: alpha(opacity=70);
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.hover_div  {
	min-height: 2em;
}
.hover_include {
	background-color: #FF9;
	border: 1px dashed #F00;
	filter: alpha(opacity=70);
	z-index: 99999;
	opacity: 0.7;
	position: absolute;/*border: 1px solid black;*/
    }
.hover_include:before {
	content: "Click to edit content.";
}
.global_edit_area .hover_include:before {
	content: "Click to edit global box.";
}
#modalEditorWrap {
	position: fixed;
	top: -5000px;
	left: -5000px;
	z-index: 100;
	width: 80%;
	height: 60%;
}
#modalEditorWrap .closeEditor {
	color: #000;
	font-size: 14px;
	text-shadow: 1px 1px #fff;
	cursor: pointer;
	padding: 0em 0.2em 0 0em;
	float: left;
	margin: 0 0 0 -1em;
	font-family: Verdana, Geneva, sans-serif;
}
#modalEditorWrap .handle {
	font-size: 20px;
	color: #999;
	text-shadow: 1px 1px #fff;
	cursor:move;
	padding: 0em 0.2em 0.2em 0.2em;
	float: left;
	clear: left;
	margin: 0 0 0 -1em;
}
#modalEditorWrap .closeEditor:hover, #modalEditorWrap .handle:hover {
	color: #C00;
}

	