/* 
This is a system css file to define default css rules so that new sites are at least legible.  
The css placed here should be easily over written even with simple css rules for site css.
Note that the class names could be updated and change often.
*/
* {
	vertical-align: top;
}

/* Site Errors */
#databaseUpgrades {
	padding: 15px;
}
.siteUpgradeNeeded {
	position: absolute;
	top: 0;
	left: 0; 
	z-index: 999999999999999;
	background: #FC9;
	padding: 3px;
	color: #C00;
	font-weight: bold;
}
.message {
    background: #FCEFE4;
    border: 2px solid #F90;
    padding: 1em;
	margin: 1em;
    color: #C60;
    font-weight: bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.error-message, .error {
	color: #C00;
}
 img:-moz-broken{
    -moz-force-broken-image-icon:1;
    width:24px;
    height:24px;
  }
.toggleClick.toggle:before {
	content: '\25BC \ ';
    border: 1px solid #AAAAAA;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    color: #AAAAAA;
    display: block;
    float: left;
    font-size: 0.8em;
    margin: 0 0.5em 0 0;
    padding: 0 0.18em 0 0.14em;
}
.toggleClick.toggled:before {
	content: '\25B2 \ ';
    border: 1px solid #AAAAAA;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    color: #AAAAAA;
    display: block;
    float: left;
    font-size: 0.8em;
    margin: 0 0.5em 0 0;
    padding: 0 0.18em 0 0.14em;
}
.toggleClick, .toggleHover {
	cursor: pointer;
}

.hide {
	display: none;
}
.show {
	display: block;
}
table {
	width: 100%;
}
th, td {
	border-collapse:collapse;
	border: 1px solid #ccc;
}
td.show {
	display: table-cell;
}
.hide form {
	display: block;
	background: #f0f0f0;
}
.edit input, .edit textarea, .edit select {
	min-width: 0;
}

	
/* Threaded Blog Comment Layout */
.comment {
	clear: both;
}
.comment .avatar, .comment .full_name, .comment .meta {
	float: left;
}
.comment .avatar img {
	width: 3em;
	height: 3em;
}
.comment .body {
	clear: both;
}
.comments .tree-block li {
	list-style-type: none;
}


/* Very light form styling */
.select .checkbox {
	display: block;
}
input[type=radio], input[type=checkbox] {
	width:auto;
	min-width: 0;
}


/* Specific for invoices /invoices/invoices/add */
.lineTotal {
	text-align: right;
}
.invoiceTotal {
	text-align: right;
}
.invoiceTotal ul, .invoiceTotal li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.invoiceTotal input, .invoiceTotal label {
	float: none;
	float: none;
	clear: none;
	display: inline;
	min-width: 5em;
	text-align: right;
	background: #FFF;
}
.invoiceTotal label {
	margin: 0 0.5em 0 0;
	border: none;
}
.invoiceTotal input {
	font-size: 1em;
	margin: 0 0 0.5em 0;
}
.invoiceProjects {
	display: block;
	float: left;
}
.generate .projects {
	clear: both;
}

/* Very light default form formatting to make new sites easier */
label {
	display: block;
	padding: 0.2em 0 0 0;
}
input[type=radio], input[type=checkbox] {
	float: left;
	clear: left;
}


/* editor */
#background_layer {
	position: fixed;
	background-color: #666;
	opacity: 0.8;
	filter: alpha(opacity=70);
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.hover_div  {
	min-height: 2em;
}
.hover_include {
	background-color: #FF9;
	border: 1px dashed #F00;
	filter: alpha(opacity=70);
	z-index: 99999;
	opacity: 0.7;
	position: absolute;/*border: 1px solid black;*/
    }
.hover_include:before {
	content: "Click to edit content.";
}
.global_edit_area .hover_include:before {
	content: "Click to edit global box.";
}


.catalogItemOptions {
	float:left; 
	width: 200px; 
	clear:none;
}
	
.richtextarea {
	clear: both;
}


.contextSorter form select option.des:after {
	content: '\25B2 \ ';
}
.contextSorter form select option.asc:after {
	content: '\25BC \ ';
}

/* Some dashboard css */
.dashboard, .masonry {
	position: relative;
}
.dashboard .dashboardBox, .masonry .masonryBox {
	float: left;
	margin: 0.5em;
	padding: 1em;
	width: 26%;
	width: 12em;
	/* height is set with javascript */
	border: 1px solid #CCC;
}
.dashboard .dashboardBox ul, .masonry .masonryBox ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.ajaxLoader {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999999999;
	padding: 3em;
	background-color:rgba(255,255,255,0.8);
	border: 1px solid #999;
	border-radius: 1em;
	margin-top: -5em;
	margin-left: -6em;
	display: none;
}

.preview {
	border: 1px dashed #999; 
	padding: 1em;
	margin: 0 0 1em 0;
}
.preview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}