/* 
This is a system css file to define default css rules so that new sites are at least legible.  
The css placed here should be easily over written even with simple css rules for site css.
Note that the class names could be updated and change often.
*/

/* Site Errors */
.siteUpgradeNeeded {
	position: absolute;
	top: 0;
	left: 0; 
	z-index: 999999999999999;
	background: #FC9;
	padding: 3px;
	color: #C00;
	font-weight: bold;
}
.message {
    background: #FCEFE4;
    border: 2px solid #F90;
    padding: 1em;
    color: #C60;
    font-weight: bold;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.error-message {
	color: #C00;
}


.hide {
	display: none;
}
.hide form {
	display: block;
	background: #f0f0f0;
}
.edit:hover {
	background: #FF6;
	color: #333;
}
	
/* Threaded Blog Comment Layout */
.comment {
	clear: both;
	margin: .5em 0;
	border: 1px solid #CCC;
	padding: .5em;
}
.comment .avatar, .comment .username, .comment .meta {
	float: left;
}
.comment .avatar img {
	width: 45px;
	height: 45px;
}
.comment .body {
	clear: both;
}

.helperText {
	display: none;
}